body{
    align-items: center;
    background-color: gray;
    justify-content: center;
    display: flex;
    flex-direction: column;


}

header{
   


}

.home-content{
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
